@page
@model ASPNET_PRACTICE.Pages.User.IndexModel
@{
}

<a href="/User/Create" class="btn btn-primary">Create</a>
<br />
<table class="table table-hover">
	<thead>
		<tr>
			<td>ID</td>
			<td>First Name</td>
			<td>Last Name</td>
			<td>Edit</td>
			<td>Delete</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ListUsers)
		{
				<tr>
					<td>@item.ID</td>
					<td>@item.FirstName</td>
					<td>@item.LastName</td>
					<td>
					<a href="/User/Edit?id=@item.ID" class="btn btn-primary">Edit</a>	
					</td>
					<td>
						<a href="/User/Delete?id=@item.ID" class="btn btn-danger">Delete</a>
					</td>
				
				</tr>
		}
</table>